@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --text: black;
  --primary: rgb(173, 200, 230);
}
@media (prefer-color-scheme: dark) {
  :root {
    --background: #282828;
    --text: white;
    --primary: rgb(94, 116, 189);
  }
}